<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BikeFM</title>
    <link rel="stylesheet" href="/css/bikefm/main.css">
    <link rel="stylesheet" href="/css/ui/buttons.css">
</head>

<body>
    <div class="sidebar">
        <h5 class="sidebar_label">
            <img src="/assets/icons/third-party/fast_access.svg" class="label_bigicon">
            Fast access
        </h5>
        <p class="sidebar_item">
            <img src="/assets/icons/third-party/download.svg" class="label_icon">
            Downloads
        </p>
        <p class="sidebar_item">
            <img src="/assets/icons/third-party/documents_white.svg" class="label_icon">
            Documents
        </p>
        <p class="sidebar_item" onclick="pathinput.value = '<%= homedir %>'; refreshDir();">
            <img src="/assets/icons/third-party/homedir.svg" class="label_icon">
            <%= uname %>'s folder
        </p>
        <p class="sidebar_item">
            <img src="/assets/icons/third-party/disk_usage.svg" class="label_icon">
            Disks usage
        </p>
    </div>
    <main>
        <header>
            <input type="text" id="path" value="<%= homedir %>" autocomplete="off">
            <div class="header_btns">
                <button class="btn-blue" id="header_addbtn">Add...</button>
                <button id="header_refreshbtn">Refresh dir...</button>
            </div>
        </header>
        <br>
        <div class="contents">
            <table class="contentstable">
                <thead>
                    <tr>
                        <th><span class="contentsInfo_item item_name">Name</span></th>
                        <th><span class="contentsInfo_item">Type</span></th>
                        <th><span class="contentsInfo_item">Size</span></th>
                    </tr>
                </thead>
                <tbody id="contents_files">
                </tbody>
            </table>
        </div>
    </main>
    <script src="/js/sys.js"></script>
    <script src="/js/bikefm/main.js"></script>
</body>

</html>