<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>molix</title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/fonts.css">
  <link rel="stylesheet" href="/css/ui/window.css">

  <link rel="stylesheet" href="/css/ui/colors.css">
</head>

<body>
  <div id="boot">
    <span style="font-size: 20px; text-align: center; color: #1ab799;">Welcome to Molix OS!</span>
    <p class="ini">
      <span class="info" style="border-top-right-radius: 0; border-bottom-right-radius: 0;">[molix]:</span>
      [initializing]
      <br>
    <p class="info" id="nav" style="margin: 8px"></p>
    <p class="info" id="let" style="margin: 8px"></p>
    <p class="info" id="audio" style="margin: 8px"></p>
    <p class="info" id="storage" style="margin: 8px"></p>
    <p id="screen" style="margin: 8px"></p>
    <p id="winmngr" class="info" style="margin: 8px"></p>
  </div>

  <div id="molix">
    <h1 id="welcometext"></h1>
    <div class="actpanel"></div>
  </div>
  <script>
    window.addEventListener('DOMContentLoaded', () => {
      winmngr.createWindow({
        title: 'molix event journal',
        content: molix.logging.eventJournal,
        id: Math.floor(1000 + Math.random() * 9000),
        icon: '/assets/icons/infoIcon.png'
      });

      winmngr.createWindow({
        title: 'Hardware information',
        content: `RAM usage: ${molix.hardware.memoryUsage}<br>CPU:`,
        id: Math.floor(1000 + Math.random() * 9000),
        icon: '/assets/icons/infoIcon.png',
        height: 10,
        classes: 'text-center'
      });
      winmngr.createErrorWindow({ title: 'gg', content: 'geererer', id: 000 });
    });
  </script>

  <style>
    * {
      margin: 0;
    }

    body {
      background-color: #1ab799;
      color: #333;
      font-family: 'DejaVu Sans', sans-serif;
    }

    #molix {
      width: 100%;
      font-family: 'DejaVu Sans', sans-serif;
    }

    #boot {
      font-family: 'DejaVu Sans Mono', monospace;
    }
  </style>
  <script src="/js/sys.js"></script>
  <script src="/js/modules/log.js"></script>
  <script src="/js/other/strings.js"></script>
  <script src="/js/boot.js"></script>

  <script src="/js/utils/hardwareInfo.js"></script>
  <script src="/js/modules/winmngr.js"></script>
  <script src="/js/third-party/wui.js"></script>
</body>

</html>