body {
  overflow: hidden;
}

#boot {
  padding: 18px;
  background-color: blue;
  height: 100vh;
}

.red {
  color: red !important;
}

#welcometext {
  text-align: center;
}

.error {
  color: red;
}

.warn {
  background-color: #ff0;
  color: #333;
  font-size: 14px;
  border-radius: 3px;
  width: 300px;
}

.ini {
  background-color: #32c600;
  color: #eee;
  font-size: 12px;
  margin-top: 1.3em;
  border-radius: 3px;
  width: 300px;
}

.info {
  background-color: #fff;
  color: #000;
  font-size: 12px;
  width: 300px;
  border-radius: 3px;
}

.green {
  color: green;
}

.boot-logo {
  width: 350px;
}

.text-center {
  text-align: center;
}

.dblock {
  display: block;
}

#test {
  width: 100px;
  background: #dfdfdf;
  padding: 5px;
  cursor: pointer;
}

#menu {
  display: none;
  margin-top: 10px;
  width: 150px;
  height: 150px;
  background: #d3d3d3;
}