@font-face {
    font-family: 'Noto Sans';
    src: url('/assets/fonts/NotoSans-Regular.ttf');
    font-style: normal;
    font-weight: normal;
}

:root {
    --sidebar_bookmark-align: left;
    --sidebarbg: #111;
    --sidebarclr: #fff;
    --sidebar_bookmark-hoverbg: rgba(85, 146, 223, 0.4);
    --sidebar_width: 160px;
    --sidebar-font: 'Noto Sans', sans-serif;

    --main-font: 'Noto Sans', sans-serif;
    --mainbg: #424242;
    --mainclr: #fff;
    --main-borderclr: #fff;

    --header-shadow: #1b1b1b;
    --headerbg: #1b1b1b;
    --headerclr: #fff;

    --namepropsbg: #9ab6d2;
    --contentsinfobg: #373737;
    --namepropsborderclr: #1b1b1b;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow-y: hidden;
}

body {
    background-color: var(--mainbg);
    color: var(--mainclr);
    font-family: var(--main-font);
}

main {
    margin-left: 160px;
    padding: 10px;
    border-radius: 5px;
}

button,
input {
    font-family: var(--main-font);
}

header #path {
    text-align: center;
}

header {
    background-color: var(--headerbg);
    box-shadow: 0 1px 6px 0 var(--header-shadow);
    color: var(--headerclr);
    padding: 4px;
    border-radius: 3px;
    border: 1px solid #bdbdbd;
}

#path {
    background: none;
    border-radius: 3px;
    width: 95%;
    color: #fff;
    outline: none;
    border: 1px solid #6d6d6d;
    font-size: 18px;
}

.header_btns {
    text-align: right;
    margin-top: 1em;
    margin-right: 1em;
}

.contentsInfo_item {
    font-weight: bold;
    background-color: #f1f1f1;
    color: #222;
    padding: 4px;
    border-radius: 3px;
    border: 1.5px solid #bdbdbd;
}

.item_name {
    display: inline-block;
    background-color: var(--namepropsbg);
    color: #222;
    padding: 4px;
    width: 210px;
    border: 1.5px solid var(--namepropsborderclr);
    text-align: left;
}

.sidebar {
    height: 100%;
    width: var(--sidebar_width);
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    background-color: var(--sidebarbg);
    overflow-x: hidden;
    padding-top: 20px;
    font-family: var(--sidebar-font);
}

.sidebar_label {
    color: var(--sidebarclr);
    margin-left: 6px;
    cursor: default;
}

.label_icon,
.label_bigicon {
    vertical-align: middle;
}

.label_bigicon {
    width: 32px;
}

.label_icon {
    width: 28px;
}

.sidebar_item {
    font-size: 10px;
    margin-left: 20px;
    cursor: pointer;
    max-width: 120px;
    border-radius: 3px;
    transition: background, padding 300ms;
    text-align: var(--sidebar_bookmark-align);
    margin-top: 1em;
}

.sidebar_item:hover {
    background: var(--sidebar_bookmark-hoverbg);
    padding: 2px;
}

.filelabel {
    overflow: hidden;
    text-rendering: optimizeLegibility;
    user-select: none;
    transition: background-color 300ms;
    width: fit-content;
    max-width: 230px;
    border-radius: 5px;
    padding: 3px;
}

.filelabel:hover {
    background: rgba(154, 182, 210, 0.3);
}

.contents {
    overflow-x: hidden;
    overflow-y: auto;
    height: 350px;
    width: 100%;
    scrollbar-width: thin;
}

.labeltype {
    margin-left: 1em;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    text-align: left;
    padding: 8px;
    font-size: 12px;
}

table.contentstable {
    width: 100%;
    border-collapse: collapse;
    color: #fff;
}

table.contentstable td,
table.contentstable th {
    padding-left: 1em;
}

td {
    word-break: break-all;
}

@media only screen and (max-width: 800px) {
    .sidebar {
        display: none;
    }
    
    body,
    main {
        margin: 0;
        width: auto;
    }
}