.actionpanel {
	background: rgba(54, 57, 63, 0.8);
	color: #eee;
	padding: 8px;
	position: fixed;
	bottom: 0;
	width: 100%;
	border-top: 1px solid #fff;
	z-index: 1000;
	max-height: 40px;
}

.actionpanel_calendar {
	float: right;
	font-size: 12px;
	margin-right: 1em;
	text-align: center;
}

.actionpanel_menu_item {
	background-color: antiquewhite;
	border-bottom: 1px solid #333;
}

.actionpanel_menu_item:hover,
.actionpanel_menu_item_default:hover {
	background-color: #A0A0A0;
	color: #fff;
}

.actionpanel_menu_item_default {
	font-weight: bold;
}

.actionpanel_menu_item_default:first-child {
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.actionpanel_menu_itemText {
	vertical-align: 90%;
}

.actionpanel_menu_itemIcon {
	width: 35px;
	height: 35px;
	margin: 5px;
	border-radius: 5px;
	box-shadow: 0 0 3px #A0A0A0;
	padding: 4px;
}

.actionpanel_menu_divider {
	border: 0.5px solid #777;
	margin-bottom: 5px;
	margin-top: 5px;
	width: 50%;
	margin-left: 87.5px;
}

#opensysmenu {
	background-color: #C0C0C0;
	border: 0;
	color: #333;
	vertical-align: bottom;
	border-radius: 16px;
	padding: 8px;
	transition: background-color 400ms;
}

#opensysmenu:hover {
	background-color: #A0A0A0;
}

#menu {
	display: none;
	bottom: 50px;
	position: fixed;
	width: 350px;
	height: 400px;
	background: #d3d3d3;
	z-index: 1000;
	box-shadow: 0 0 5px #455a64;
	margin-left: 2px;
	border: 1px solid #000;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.actionpanel_apptab {
	display: inline-block;
	background-color: #455a64;
	color: #fff;
	border-radius: 3px;
	margin-left: 1em;
	max-width: 230px;
}

.apptab_icon {
	width: 25px;
	float: left;
	margin: 5px;
}

.apptab_appname {
	margin-right: 3px;
	line-height: 0;
	margin-bottom: 0;
	vertical-align: 50%;
	font-size: 10px;
}

.menu_controls {
	margin-top: 32%;
	margin-left: 5px;
	height: 100px;
}

.menu_powerstbtn {
	transition: background-color 300ms linear;
	border-radius: 5px;
	padding: 3px;
}

.menu_powerstbtn:hover {
	background-color: #989ea4;
}

.menu_powercontrols {
	background-color: #e0e0e0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: fixed;
	padding: 16px;
	border-radius: 16px;
	text-align: center;
	/* box-shadow: 0 0 5px #e0e0e0; */
	filter: drop-shadow(0 0 80px #eee);
	display: none;
	z-index: 1000;
}

.menu_powercontrols_heading {
	margin-bottom: 1em;
}

.menu_powercontrols_sub {
	color: #777;
	font-size: 10px;
}

.powercontrols_powerbtn {
	transition: background-color 300ms ease-in-out;
	border-radius: 100%;
	padding: 5px;
}

.powercontrols_powerbtn:hover {
	background-color: #e14c08;
}

.powercontrols_restartbtn {
	transition: background-color 300ms ease-in-out;
	border-radius: 100%;
	padding: 5px;
}

.powercontrols_restartbtn:hover {
	background-color: #ffca00;
}

.powercontrols_close {
	color: #C0C0C0;
	float: right;
	font-weight: lighter;
	border-radius: 5px;
	font-size: 12px;
	transition: color 300ms;
	vertical-align: 50%;
	margin-left: 1em;
}

.powercontrols_close:hover {
	color: #333;
	font-weight: bold;
}

.menu_pwrtbtn:hover {
	background-color: #e14c08;
}

