.text-yellow,
.txt-yl {
    color: #ffc80b;
}

.text-blue,
.txt-bl {
    color: #5550f6;
}

.text-purple,
.txt-pl {
    color: #894fb3;
}

.text-lblue,
.txt-lb {
    color: #699bf1;
}

.text-orange,
.txt-org {
    color: #f24e21;
}

.text-green,
.txt-grn {
    color: #0fa958;
}

.text-gray,
.txt-gr {
    color: #7f7f7f;
}